<html>
    <head>
            <title>
                RowerPol
            </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="logo"><a href="/">RowerPol</a></li>
                    <!--li><a href="/#about_me">About me</a></li-->
                    <!--li><a href="/#about_project">About project</a></li-->
                </ul>
         </nav>
        </header>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

            <footer>
            all rights reserved
        </footer>
    </body>
</html>