<html>
    <head>
            <title>
                RowerPol
            </title>
         <link rel="stylesheet" href="static/styles.css">

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="logo"><a href="/">RowerPol</a></li>
                    <!--li><a href="/#about_me">About me</a></li-->
                    <!--li><a href="/#about_project">About project</a></li-->
                </ul>
         </nav>
        </header>

<div id="ziobro">
    ty kurwo przestan mi rodzine
</div>







<div class="form_general">

     <select name="pochodzenie" id="form_pochodzenie">
<!--          <option value="polska">POLSKA!</option>-->
<!--          <option value="lamusy" >lamusy</option>-->
    </select>
    <br> <br>

    <select name="rowery" id="form_rowery">
    </select> <br> <br>

    <button type="button" id="add_rowery">Add</button>

</div>


<div id="dupa">
    ty kurwo przestan mi rodzine
</div>

     <script src="static/script.js"></script>
    </body>
</html>